<%
var subtitle = page.subtitle || page.title
var banner_img = page.banner_img || theme.index.banner_img
var banner_img_height = page.banner_img_height || theme.index.banner_img_height
var banner_mask_alpha = page.banner_mask_alpha || theme.index.banner_mask_alpha
var colorSchema = theme.dark_mode && theme.dark_mode.enable && theme.dark_mode.default ? theme.dark_mode.default : ''
%>

<!DOCTYPE html>
<html lang="<%= config.language %>" <%= colorSchema ? `data-default-color-scheme="${colorSchema}"` : '' %>>

<%- partial('_partial/head') %>
<style>
  .side{
    position: absolute; 
    /* right: 50px;  */
    top: 120px; 
    right: 40px;
    height: 400px; 
    width: 230px; 
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
  }
  .side .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
  }
  .side .avatar img{
    width: 100%;
    height: 100%;
    transition: all 1s;
  }
  .side .avatar img:hover{
    transform:rotate(360deg);
  }
</style>
<body>
  <header style="height: <%- banner_img_height %>vh;">
    <%- partial('_partial/nav') %>
    <div class="banner" id="banner" <%- theme.banner && theme.banner.parallax && 'parallax=true' %>
         style="background: url('<%- url_for(banner_img) %>') no-repeat center center;
           background-size: cover;">
      <div class="full-bg-img">
        <div class="mask flex-center" style="background-color: rgba(0, 0, 0, <%= parseFloat(banner_mask_alpha) %>)">
          <div class="page-header text-center fade-in-up">
            <span class="h2" id="subtitle" title="<%- subtitle %>">
              <% if(!theme.fun_features.typing.enable) { %>
                <%- subtitle %>
              <% } %>
            </span>

            <% if(is_post() && page.meta !== false) { %>
              <%- partial('_partial/post-meta') %>
            <% } %>
          </div>

          <% if (theme.scroll_down_arrow.enable && theme.scroll_down_arrow.banner_height_limit <= banner_img_height && page.layout !== '404') { %>
            <div class="scroll-down-bar">
              <i class="iconfont icon-arrowdown"></i>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </header>

  <main>
    <% if(is_post() || page.layout === '404') { %>
      <%- body %>
    <% } else { %>
      <div class="container nopadding-x-md">
        <div class="py-5" id="board"
          <%- banner_img_height >= 100 && theme.banner && theme.banner.parallax ? 'style=margin-top:0' : '' %>>
          <% if(page.layout === 'about') { %>
            <div class="about-avatar">
              <img src="<%- url_for(theme.about.avatar) %>"
                   class="img-fluid" alt="avatar">
            </div>
          <% } %>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 m-auto">
                <%- body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <p id="hitokoto" style="text-align: center; height: 30px; line-height: 30px; font-size: 14px;margin-top: 15px;">:D 获取中...</p>
    <% if (theme.scroll_top_arrow.enable) { %>
      <a id="scroll-top-button" href="#" role="button">
        <i class="iconfont icon-arrowup" aria-hidden="true"></i>
      </a>
    <% } %>

    <% if (theme.search.enable) { %>
      <%- partial('_partial/search') %>
    <% } %>

    <% if (theme.custom_html) { %>
      <div class="col-lg-7 mx-auto nopadding-x-md">
        <div class="container custom mx-auto">
          <%- theme.custom_html %>
        </div>
      </div>
    <% } %>
    <!-- <div class="side">
      <div class="avatar">
        <img src="/img/avatar.png" alt="xiaofan">
      </div>
      <div class="show">
        <h4 style="text-align: center;">smile</h4>
        <p style="text-align: center; height: 30px; line-height: 30px; font-size: 14px;">永远相信美好的事情即将发生</p>
      </div>
      <div class="btn">
        <button style="width:30px;height: 30px; border-radius: 50%; border-style: none; border: 0px; text-align: center; line-height: 30px; padding: 0px;">
        <span class="iconfont icon-a-Arrow-LeftCircle" style="font-size: 30px; color: #fff;"></span>
        </button>
        <button style="width:30px;height: 30px; border-radius: 50%; border-style: none; border: 0px; text-align: center; line-height: 30px; padding: 0px;">
          <span class="iconfont icon-a-Arrow-RightCircle" style="font-size: 30px; color: #fff;"></span>
          </button>
      </div>
    </div> -->
  </main>

  <%- partial('_partial/footer', { params: { subtitle: subtitle } }) %>

  <!-- SCRIPTS -->
  <%- partial('_partial/scripts') %>
  <!--浏览器搞笑标题-->
<script type="text/javascript" src="\js\title.js"></script>
<!-- 以下写法，选取一种即可 -->

<!-- 现代写法，推荐 -->
<!-- 兼容低版本浏览器 (包括 IE)，可移除 -->
<script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
<!--End-->
<script>
  fetch('https://v1.hitokoto.cn')
    .then(function (res){
      return res.json();
    })
    .then(function (data) {
      var hitokoto = document.getElementById('hitokoto');
      hitokoto.innerText = data.hitokoto; 
    })
    .catch(function (err) {
      console.error(err);
    })
</script>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?c58c0e5f8760208c108c7a951d499b80";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  

</body>
</html>
